
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 400px;
    width: 500px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 20px;
}

.box h3{
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box button{
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: rgb(255, 83, 112);
}

#btn1{
    position: absolute;
    left: 43%;
    cursor: pointer;
}


#btn2{
    position: absolute;
    right: 44%;
    top: 52%;
    cursor: pointer;

}

#image1{
    position: absolute;
    display: none;
    height: 500px;
    width: 500px;
}

#image2{
    position: absolute;
    display: none;
    height: 500px;
    width: 500px;
}
