*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 400px;
    width: 500px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.box h3{
    font-size: 30px;
    color: white;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box button{
    padding: 10px 20px;
    border: none;
}

#btn1{
    position: absolute;
    left: 43%;
    cursor: pointer;
}


#btn2{
    position: absolute;
    right: 44%;
    top: 52%;
    cursor: pointer;

}

#image{
    position: absolute;
    display: none;
    height: 500px;
    width: 500px;
}
